$width100: 100%;
$width90: 90%;
$width80: 80%;
$width70: 70%;
$width50: 50%;
// ===
$height100: 100vh;
$height100Felmeya: 100%;
$height90: 90%;
$height80: 80%;
$height70: 70%;
$height60: 60%;
// ======
$background-color: rgba(0, 0, 0, 0.1);
$background-colorBlack: rgb(0, 0, 0, 0.5);
$background-colorWhite: rgb(255, 255, 255);
$borderRadius: 10px;
$width150px: 150px;
